.buttonSedan {
    background-color: hsl(0, 0%, 95%); /* Button background color */
    color: hsl(31, 77%, 52%); /* Match text color to the card's color */
    opacity: 0.9; /* Slight transparency for the text */
    border: none;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-top: auto;
}

.buttonSUV {
    background-color: hsl(0, 0%, 95%); /* Button background color */
    color: hsl(184, 100%, 22%); /* Match text color to the card's color */
    opacity: 0.9; /* Slight transparency for the text */
    border: none;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-top: auto;
}

.buttonLuxury {
    background-color: hsl(0, 0%, 95%); /* Button background color */
    color: hsl(179, 100%, 13%); /* Match text color to the card's color */
    opacity: 0.9; /* Slight transparency for the text */
    border: none;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-top: auto;
}